.container {
    position: relative;
    top: 20px;
    width: 90%;
    margin: 0px auto;
}

table {
    margin-top: 20px;
    width: 100%;
    border-collapse: collapse;
}

th {
    background: #ddd;
}

th, td {
    border: 1px solid #ddd;
    padding: 5px;
}


tr:hover {
    background-color: #ddd;
}

input {
    width: 200px;
}